*.pyc
*.pyd
*__pycache__
mspy/build/
*~
dist/
mmass3.egg-info/
documents/
*.old
*.o
*.so
build/
configs/*
mmass.egg-info/
test_files/
.DS_Store
*.swp
.git-blame-ignore-revs
.vscode/
mMass.egg-info
old_*
test_*
patch_*